<style>
  .resize-sensor_outer-sensor,
  .resize-sensor_inner-sensor-conatiner {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
    padding: inherit;
  }

  .resize-sensor_inner-sensor {
    box-sizing: border-box;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }
</style>

<template>
</template>

<script>
  aleet.register_feature('resize-sensor', {
    ready: function () {
      if (this.listener_attached !== true) {
        this.addListener();
        this.listener_attached = true;
      }
    },
    addListener: function () {
      var _self = this;
      var inner_sensor_container = document.createElement('div');
      inner_sensor_container.classList.add('resize-sensor_inner-sensor-conatiner');
      var inner_sensor = document.createElement('object');
      inner_sensor.classList.add('resize-sensor_inner-sensor');
      inner_sensor.onload = function () {
        this.contentDocument.defaultView.addEventListener('resize', function () {
          _self.trigger('inner-resize');
        });
      };
      inner_sensor.type = 'text/html';
      inner_sensor.data = 'about:blank';
      var outer_sensor = document.createElement('object');
      outer_sensor.classList.add('resize-sensor_outer-sensor');
      outer_sensor.onload = function () {
        this.contentDocument.defaultView.addEventListener('resize', function () {
          _self.trigger('resize');
        });
      };
      outer_sensor.type = 'text/html';
      outer_sensor.data = 'about:blank';
      inner_sensor_container.appendChild(inner_sensor);
      _self.append(outer_sensor);
      _self.append(inner_sensor_container);
    }
  });
</script>